/fcl
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

#temporary text files
*~

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.pyc

# ignore octave workspaces
octave-workspace

# ignore mex files
*.mex
*.mexa64

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# eclipse
/.project
/.pydevproject
/.eggs/
