language: python
cache: pip
sudo: required

matrix:
  include:
  - os: linux
    dist: trusty
    python: '2.7'
    env: INSTALL_OCTAVE=yes
  - os: linux
    dist: trusty
    python: '2.7'
    env: MAKE_CLI=yes
  - os: linux
    dist: trusty
    python: '2.7'
    env: INSTALL_PYTHON_REQUIREMENTS=yes MPLBACKEND=agg
  - os: linux
    dist: trusty
    python: '3.4'
    env: INSTALL_PYTHON_REQUIREMENTS=yes MPLBACKEND=agg
  - os: linux
    dist: trusty
    python: '3.5'
    env: INSTALL_PYTHON_REQUIREMENTS=yes MPLBACKEND=agg
  - os: linux
    dist: trusty
    python: '3.6'
    env: INSTALL_PYTHON_REQUIREMENTS=yes MPLBACKEND=agg

install:
- ./tools_build/travis/install.sh

script:
- ./tools_build/travis/run.sh

deploy:
  provider: pypi
  user: "tbottesch"
  distributions: "sdist"
  skip_upload_docs: true
  on:
    tags: true
    python: '2.7'
    condition: "$INSTALL_PYTHON_REQUIREMENTS = yes"
  password:
    secure: WGz6T8QRbgTyNLQ+FsagmcqlfhayB6q54WBLUfowZ8+FuenHt9tFK5+kddZvECxHrHFDFJ3IsWh3L5JUNpXegpSwc5FbIR/5ICADwa+lby3jpg0Dp34JGOnBDIHDMIKxIqkXadJFJuBalOgt4epZ1rp70f/spOpLZMR8hm/jGRZ9LrV7b/rIcwCLrNEaxUdPnXfY0dva6bU5TJpBRmmN0zUvFRcwdra4M42k+F3zv3QeDDn9vg16kvAMNArIxTo3bONtW+1UeR/AA3dhYoAX9ihHVvGUubmUDicpcdVFsbOx+WrDAl6bVQFppVfXQGcIP+jRF2AQM0Fnzt70VT1rm44QGy0qxxIak8PMe/sqafAxbtxasSN5SFmd0l08GfwsOEQYGyWQcelAhLfxxdxCeHw7JJiKpp/PhVlrPDLHTz0oau7ji4DqVhz1cLGWfkQ0wCDuo0DXgKL1GQHQ9ntydxmS76mGzXicmwA5hCRcRax/rh1r7thRD81F6QQYTflVewTLLASn6B9AVLbAZ4eYUQ+2UOJvfk1XTfmELLXxT3ma4pxWBuB7tuXn8WGTp3HiNzKSR/Z56Jb1hw9GqiMAc1onXkdvpJdGbIkEfZMR/Kow/NIMLPctwnywLhuJ/vWzFv4vY1wQoIIpkuFaS2DvebKwLsi4jQFk/ku+C7ic4HM=
